<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Administracion | Funkoshop</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/index.css">
	</head>

	<body>

		<header><!--CABECERA: Inicio del Header-->
			<nav class="navbar container">
				<picture class="navbar__logo">
					<a href="/">
						<img src="../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop">
					</a>
				</picture>

				<ul class="navbar__menu">
					<li class="navbar__item">
						<a class="navbar__link" href="/shop">VER TIENDA</a>
					</li>
					<li class="navbar__item">
						<a class="navbar__link" href="/admin">ADMIN</a>
					</li>
					<li class="navbar__item">
						<a class="navbar__link" href="/auth/logout">SALIR</a>
					</li>
				</ul>
			</nav>
		</header><!--Fin del Header-->

		<main>
			<div id="search-buttom">
				<img src="../img/icons/search_icon.svg" alt="">
				<input type="search" id="search-button" placeholder="código, nombre o categoría">
			</div>

			<section id="agregar-producto">
				<h1>
					LISTADO DE PRODUCTOS
				</h1>
				<h3>AGREGAR</h3>
				<!-- Formulario para agregar productos -->
				<a href="/admin/create">
					<img src="../img/icons/plus-square-fill.svg" alt="Agregar un producto">
				</a>				
			</section>

			<section id="lista-productos">
				<table id="table">
					<thead id="table-head">
						<tr>
							<th>ID</th> <!-- product.product_id -->
							<th>Código</th>  <!-- product.sku -->
							<th>Nombre del Producto</th>  <!-- product.product_name -->
							<th>Categoria</th>  <!-- product.licence_name -->
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody id="table-body">
						<% products.forEach(product => { %>
							<tr>
								<td><%= product.product_id %></td>
								<td><%= product.sku %></td>
								<td><%= product.product_name %></td>
								<td><%= product.licence_name %></td>
								<td>
									<!-- Agregar un enlace para editar el producto -->
									<form action="/admin/edit/<%= product.product_id %>" method="GET">
										<button type="submit">
											<input type="hidden" name="_method" value="EDIT">
											<img src="../img/icons/edit_pencil.svg" alt="Editar ítem">
										</button>
									</form>

								</td>
								<td>
									<!-- Agregar un enlace para eliminar el producto -->
									<form action="/admin/delete/<%= product.product_id %>" method="POST">
										<button type="submit">
											<input type="hidden" name="_method" value="DELETE">
											<img src="../img/icons/delete_trash.svg" alt="Eliminar ítem">
										</button>
									</form>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</section>
		</main>
	
		<footer class="footer"><!--PIE: Inicio del Footer-->
			<nav class="navbar container"><!--barra de navegacion en el footer-->
				<ul class="navbar__item">
					<li class="navbar__item">
						<a class="navbar__link" href="/shop">SHOP</a>
					</li>
					<li class="navbar__item">
						<a class="navbar__link" href="/auth/register">REGISTRARSE</a>
					</li>
					<li class="navbar__item">
						<a class="navbar__link" href="/auth/login">INGRESAR</a>
					</li>
					<li class="navbar__item">
						<a class="navbar__link" href="/admin/contact">CONTACTO</a>
					</li>
				</ul>
				<picture>
					<img src="../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop" </picture>
			</nav>
		   
			<p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
		</footer><!--PIE: Fin del Footer-->

		<!--Scripts-->
		<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
		<script src="/js/adminSearch.js"></script>
		
    </body>
</html>