<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Carrito | Funkoshop</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
    />
    <link rel="stylesheet" href="../../css/index.css" />
  </head>

  <body>
    <header>
      <!--CABECERA: Inicio del Header-->
      <nav class="navbar container">
        <picture class="navbar__logo">
          <a href="/">
            <img
              src="../../img/branding/logo_light_horizontal.svg"
              alt="Isologotipo de la Marca Funkoshop"
            />
          </a>
        </picture>

        <ul class="navbar__menu">
          <li class="navbar__item with-submenu">
            <a class="navbar__link with-icon" href="/shop"
              >SHOP <iconify-icon icon="ion:chevron-down"></iconify-icon
            ></a>
            <ul class="submenu">
              <li class="submenu__item">
                <a href="" class="submenu__link">Funkos</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Remeras</a>
              </li>
              <li class="submenu__item">
                <a href="" class="submenu__link">Llaveros</a>
              </li>
            </ul>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/admin/contact"
              >CONTACTO</a
            >
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/auth/login"
              >LOGIN</a
            >
          </li>
          <li class="navbar__item">
            <a class="navbar__cart" href="/shop/cart">
              <img src="../../img/icons/cart-icon.svg" alt="Icono de carrito" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!--Fin del Header-->

    <main class="cart container">
      <!--CUERPO: Inicio del Main-->
      <div>
          <h1 class="cart-title__name">CARRITO DE COMPRAS</h1>
      </div>
      <section class="cart-columns">
        <p class="cart-columns__text">Detalle de Producto</p>
        <p class="cart-columns__text">Cantidad</p>
        <p class="cart-columns__text">Total</p>
      </section>

        <% if (cart.length === 0) { %>
          <p>Tu carrito está vacío.</p>
        <% } else { %>
          <% cart.forEach(item => { %>
              <section class="cart-product">
                  <!-- Detalles del producto -->
                  <article class="cart-item">
                      <img src="../../img/<%= item.image %>" class="cart-preview__img" alt="producto" />
                      <div class="cart-item__text">
                          <h3><%= item.product_name %></h3>
                          <h4><%= item.licence_name %></h4>
                          <br>
                          <p>Precio: $<%= parseFloat(item.price).toFixed(2) %></p>
                        </div>
                  </article>
                  <!-- Cantidad -->
                  <article class="item-quantity">
                    <input type="text" class="item__input cart-input" value="<%= item.quantity %>" data-product-id="<%= item.product_id %>">
                    <span class="item-quantity__fields">
                        <button type="button" class="btn btn-quantity btn-cart__size increaseQuantity">+</button>
                        <button type="button" class="btn btn-quantity btn-cart__size decreaseQuantity">-</button>
                    </span>                    
                  </article>
                  <!-- Precio total por producto -->
                  <article class="total-price">
                    <h3 id="total-<%= item.product_id %>">$<%= (item.quantity * item.price).toFixed(2) %></h3>
                    <!-- Botón para eliminar producto del carrito -->
                    <form action="/shop/cart/remove/<%= item.product_id %>" method="POST">
                      <button type="submit" class="btn-quantity remove-item">X</button>
                    </form>
                  </article>
              </section>
          <% }) %>

          <!-- Resumen de la compra -->
          <section class="summary">
            <article>
              <h2 class="cart-title__name">Resumen</h2>
            </article>
            <article class="cart-summary">
              <span class="cart-summary__container"><p class="cart-summary__text">Cantidad: </p> <p id="qtdtotal" class="cart-summary__price"><%= qtdtotal %></p></span>
              <span class="cart-summary__container"><p class="cart-summary__text">Subtotal: </p> <p id="subtotal" class="cart-summary__price">$<%= subtotal.toFixed(2) %></p></span>
              <span class="cart-summary__container"><p class="cart-summary__text">Envío: </p> <p id="envio" class="cart-summary__price">$<%= envio.toFixed(2) %></p></span>
              <span class="cart-summary__containerTotal"><p class="cart-summary__total">Total: </p> <p id="total-general" class="cart-summary__totalPrice">$<%= totalGeneral.toFixed(2) %></p></span>
            </article>
              <!-- Botón para ir al pago -->
              <article>
                <form action="/shop/cart" method="POST">
                    <button type="submit" class="btn btn--primary btn-cart__large">IR A PAGAR</button>
                </form>
            </article>
          </section>
        <% } %>
    </main>
    <!--CUERPO: Fin del Main-->

    <footer class="footer"><!--PIE: Inicio del Footer-->
      <nav class="navbar container"><!--barra de navegacion en el footer-->
          <ul class="navbar__item">
              <li class="navbar__item">
                  <a class="navbar__link" href="/shop">SHOP</a>
              </li>
              <li class="navbar__item">
                  <a class="navbar__link" href="/auth/login">INGRESAR</a>
              </li>
              <li class="navbar__item">
                  <a class="navbar__link" href="/admin/contact">CONTACTO</a>
              </li>
          </ul>
          <picture>
              <img src="../../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop" >
            </picture>
      </nav>
     
      <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer><!--PIE: Fin del Footer-->

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="../js/cart.js"></script>
  </body>
</html>
