<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= view.title %> | Funkoshop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header><!--CABECERA: Inicio del Header-->
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="/">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop">
                </a>
            </picture>

            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="/shop">SHOP <iconify-icon
                            icon="ion:chevron-down"></iconify-icon></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/contact">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__cart" href="/shop/cart">
                        <img src="../../img/icons/cart-icon.svg" alt="Icono de carrito">
                    </a>
                </li>
            </ul>
        </nav>
    </header><!--Fin del Header-->
    
    <main class="shop__container">
        <aside><!-- formulario o botones (BUSCAR ,ORDENAR POR, PRECIO,FILTRAR) -->
            <section class="formulario__container">
                <div class="formulario__buscar">
                    <h4 class="buscar__titulo">BUSCAR</h4>
                    <input type="search" id="search-button" class="buscar__placeholder" placeholder="item o categoría">
                </div>
                <div class="formulario__ordenar">
                    <h4 class="ordenar__titulo">ORDENAR POR</h4>
                    <div class="ordenar__placeholder">
                        <input type="text" class="ordenar__placeholder-inner" placeholder="  Mayor a menor">
                        <button class="custom-button">&#9660;</button>
                    </div>
                </div>
                <div class="formulario__precio">
                    <h4 class="precio__titulo">PRECIO</h4>
                    <div class="formulario__precio-inner">
                        <p>MIN</p> <input type="text" placeholder="    0">
                        <p> - </p>
                        <p>MAX</p> <input type="text" placeholder="    0">
                    </div>
                </div>
                <div class="formulario__filtrar">
                    <h4 class="filtrar__titulo"> FILTRAR</h4>
                    <div class="filtrar">
                        <label class="filtrar__label">
                            <input type="checkbox">
                            NUEVOS
                        </label>
                        <br><br>
                        <label class="filtrar__label">
                            <input type="checkbox">
                            OFERTAS
                        </label>
                        <br><br>
                        <label class="filtrar__label">
                            <input type="checkbox">
                            EDICION ESPECIAL
                        </label>
                        <br><br>
                        <label class="filtrar__label">
                            <input type="checkbox">
                            FAVORITOS
                        </label>
                    </div>
                </div>
                
            </section>
        </aside>
        <section id="shop" class="shop__content">
            <ul class="shop__items">
                <% items.forEach( item => { %>
                <li class="shop__item">
                    <article class="card-item">
                        <a class="card-item__link" href="/shop/item/<%= item.product_id%>">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__img--front" src="../../img<%= item.image_front%>" alt="Figura coleccionable Funko ">
                                <img class="card-item__img--back" src="../../img<%= item.image_back%>" alt="Figura coleccionable Funko en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__licence"><%= item.licence_name%></p>
                                <h4 class="card-item__name"><%= item.product_name%></h4>
                                <p class="card-item__price"><%= item.price%></p>
                                <p class="card-item__promo"><%= item.dues%> CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <% }); %>
            </ul>
        </section>
    
    </main>
    <div class="pagination">
        <iconify-icon icon="uiw:left-square-o" style="color: #c4cdd5;" width="44" height="44"></iconify-icon>
        <a href="/shop">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <iconify-icon icon="uiw:left-square-o" style="color: #c4cdd5;" width="44" height="44" flip="horizontal"></iconify-icon>        <!-- Agrega más enlaces de páginas según sea necesario -->
    </div>

    <footer class="footer"><!--PIE: Inicio del Footer-->
        <nav class="navbar container"><!--barra de navegacion en el footer-->
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="/shop">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">INGRESAR</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/contact">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../img/branding/isotype.svg" alt="Isotipo de la marca Funkoshop" >
              </picture>
        </nav>
       
        <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer><!--PIE: Fin del Footer-->
    
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="/public/js/shopsearch.js"></script>


</body>
    
</html>